@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: url(http://api.thumbr.it/whitenoise-361x370.png?background=15424fff&noise=166f9e&density=100&opacity=61); }
  @media (min-width: 1024px) {
    body {
      overflow: hidden; } }

.machine {
  width: 80%;
  margin: 10vh auto;
  font-family: 'monserrat', roboto, sans-serif; }
  @media (max-width: 1024px) {
    .machine {
      width: 90%; } }
  .machine__heading {
    text-align: center;
    position: relative;
    top: -40px;
    background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px #f5f5f5;
    font-size: 56px;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    margin: 0;
    line-height: 1; }
    @media (min-width: 550px) {
      .machine__heading {
        font-size: 106px; } }
    .machine__heading::before {
      display: none; }
      @media (min-width: 1400px) {
        .machine__heading::before {
          content: 'Slot Machine';
          display: block;
          position: absolute;
          left: 220px;
          top: 0;
          z-index: 10;
          background-image: linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
          background-position: 300px 0;
          -webkit-background-clip: text;
          -webkit-text-stroke: 0;
          padding-right: 300px;
          animation-name: machine_effect;
          animation-duration: 10s;
          animation-delay: 2s;
          animation-timing-function: linear;
          animation-iteration-count: infinite; } }

@keyframes machine_effect {
  0% {
    background-position: -300px 0; }
  10% {
    background-position: 300px 0; }
  100% {
    background-position: 300px 0; } }

.red-button {
  display: none; }

@media (min-width: 1400px) {
  .cleared-text {
    color: #F975F7;
    font-weight: bold;
    display: block;
    position: absolute;
    top: 40%;
    right: -100%;
    margin-top: 130px;
    text-align: center;
    margin-left: 1.5rem;
    z-index: 999;
    font-size: 12rem;
    opacity: 0;
    transition: all 0.4s ease-out; }
  .red-button {
    display: block;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    left: 10%;
    top: 10%;
    position: absolute;
    background: #e55050;
    border-radius: 100px;
    outline: none;
    box-shadow: inset -2px 2px 2px 0px #ef9393, inset 2px -2px 2px 0px rgba(113, 17, 17, 0.3), inset 0px 0px 40px 15px #de2424, 1px 1px 0 0 #d32020, 2px 2px 0 0 #c61e1e, 3px 3px 0 0 #b81c1c, 4px 4px 0 0 #ab1a1a, 5px 5px 0 0 #9e1818, 6px 6px 0 0 #901616, 7px 7px 0 0 #881414, 8px 8px 0 0 #831414, 9px 9px 0 0 #7f1313, 10px 10px 0 0 #7a1212, 11px 11px 0 0 #761212, 12px 12px 0 0 #711111, 13px 13px 0 0 #711111, 14px 14px 0 0 #711111, 15px 15px 0 0 #711111, 16px 16px 0 0 #711111, 17px 17px 0 0 #711111, 18px 18px 0 0 #711111, 19px 19px 0 0 #711111, 20px 20px 0 0 #711111, 19px 21px 1pc 1px rgba(113, 17, 17, 0.1), 18px 22px 1px 1px rgba(113, 17, 17, 0.1), 17px 23px 1px 1px rgba(113, 17, 17, 0.1), 16px 24px 1px 1px rgba(113, 17, 17, 0.1), 15px 25px 1px 1px rgba(113, 17, 17, 0.1), 14px 26px 2px 1px rgba(113, 17, 17, 0.1), 13px 27px 3px 1px rgba(113, 17, 17, 0.1), 12px 28px 4px 1px rgba(113, 17, 17, 0.1), 11px 29px 5px 1px rgba(113, 17, 17, 0.1), 10px 30px 6px 1px rgba(113, 17, 17, 0.1), 9px 31px 7px 1px rgba(113, 17, 17, 0.1), 20px 20px 4px 1px #711111;
    transition: all 0.4s ease-out;
    cursor: pointer; }
    .red-button:active {
      transition: all 0.15s ease-out;
      margin-left: -31px;
      margin-top: -31px;
      background: #e86666;
      box-shadow: inset -2px 2px 2px 0px #ef9393, inset 2px -2px 2px 0px rgba(113, 17, 17, 0.3), inset 0px 0px 40px 15px #de2424, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 2px 1px rgba(113, 17, 17, 0.5), 0px 0px 4px 1px #711111; }
      .red-button:active ~ p {
        opacity: 1;
        transition: all 0.15s ease-out;
        transition-delay: 0.25s;
        transform: translate3d(-80%, -80%, 0) rotate(-30deg); }
      .red-button:active ~ .blur {
        width: 100%;
        height: 100%; } }

.repeat-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  font-size: 30px;
  border: none;
  cursor: pointer;
  transition: box-shadow .3s ease-in;
  outline: none; }
  .repeat-button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  @media (min-width: 380px) {
    .repeat-button {
      top: 90px; } }
  @media (min-width: 710px) {
    .repeat-button {
      top: 140px; } }
  @media (min-width: 1024px) {
    .repeat-button {
      top: 120px;
      right: 100px; } }

.pink-text {
  display: none; }
  @media (min-width: 1024px) {
    .pink-text {
      display: block;
      position: absolute;
      margin: 0px;
      font-family: 'Mr Dafoe', cursive;
      font-size: 60px;
      color: #F975F7;
      transform: rotate(-15deg);
      -webkit-transform: rotate(-15deg);
      /* Safari and Chrome */
      margin-left: 780px;
      margin-top: -120px;
      -webkit-text-stroke: 1px #f008b7;
      -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
      z-index: 20; }
      .pink-text .windows .pink-text {
        -webkit-text-stroke: 4px #f008b7; } }

.gameboard {
  display: flex;
  margin-bottom: 3vh; }
  .gameboard__card {
    height: 30vh;
    flex-grow: 1;
    margin: 10px;
    border: 3px solid gray;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s; }
    .gameboard__card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.play-ui {
  text-align: center;
  margin: 40px; }
  .play-ui__input {
    height: 45px;
    font-size: 16px;
    padding: 20px;
    width: 80%;
    min-width: 200px;
    border: 3px solid black;
    text-align: center;
    border-radius: 5px;
    border: 0;
    border: 1px solid transparent;
    border-bottom-color: #ccc;
    transition: border-bottom .2s ease-in; }
    @media (min-width: 550px) {
      .play-ui__input {
        width: 400px;
        font-size: 30px;
        margin-right: 40px;
        height: 90px; } }
    @media (max-width: 1024px) {
      .play-ui__input {
        height: 70px;
        font-size: 30px;
        display: block;
        margin: 20px auto; } }
    .play-ui__input:focus {
      outline: none;
      border-bottom: 4px solid #F975F7; }
  .play-ui__button {
    width: 40%;
    height: 90px;
    text-align: center;
    padding: 20px 60px;
    font-size: 40px;
    text-transform: uppercase;
    background-color: #333;
    border: none;
    color: white;
    cursor: pointer;
    letter-spacing: 6px;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease 0s; }
    @media (max-width: 1024px) {
      .play-ui__button {
        height: 74px;
        font-size: 30px;
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 0 20px; } }
    .play-ui__button:hover {
      color: #494949;
      border-radius: 50px;
      transition: all 0.3s ease 0s; }

fa-play {
  color: #fafafa; }

.repeat-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  font-size: 30px;
  border: none;
  cursor: pointer;
  transition: box-shadow .3s ease-in;
  outline: none; }
  .repeat-button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  @media (min-width: 380px) {
    .repeat-button {
      top: 90px; } }
  @media (min-width: 710px) {
    .repeat-button {
      top: 140px; } }
  @media (min-width: 1024px) {
    .repeat-button {
      top: 120px;
      right: 100px; } }

.panel {
  margin: 40px 0 40px;
  font-size: 26px; }

.panel, .score {
  font-size: 16px;
  color: #fafafa;
  font-family: 'press start 2p'; }

.panel span, .score span {
  font-weight: bold;
  color: #F975F7; }

.score__result {
  margin: 20px 0;
  color: #F975F7; }

